    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_agreement.css') }}">
    <title>Sign Up</title>

</head>
<body>
    <div class="header">
        <h2>PGViber</h2>
    </div>
    
     <form class="data" name="insert" action="/retrieve" method="POST">
            <h3>User Personal Information</h3>
        <label>Employee Number: </label>
        <input type="text" id="empnumber" name="employeenumber" required><br>
        <label>Email Address: </label>
        <input type="email" id="email" name="emailaddress" required><br>
        <label>Password: </label>
        <input type="password" id="pass" name="password" required><br>
        <label>Last Name: </label>
        <input type="text" id="lname" name="lastname" required><br>
        <label>First Name: <label>
        <input type="text" id="fname" name="firstname" required><br>
        <label>Gender: <label>
        <input type="text" id="fname" name="gender" required><br>
        

        <label>Birthday: </label>
        <input type="date" id="dob" name="dateofbirth" required><br>
        <label>Mobile Number: </label>
        <input type="tel" id="pnumber" name="phonenumber" required><br>

        <!-- <input type="submit" id="signupsubmit"> -->
        <input type="submit" id="myBtn" value="Sign up">
        
            
                <!-- <input type="button" id="myBtn" value="Submit"> -->
            
                
            <!-- <div id="myModal" class="modal"> -->

                    <!-- Modal content -->
                <!-- <div class="modal-content">
                      
                      <span class="close">&times;</span>
                       -->
                  
                    <!-- <form class="data" name="insert" action="." method="POST">
        <label>Employee Number: </label>
        <input type="text" id="empnumber" name="employeenumber" required><br>
        <label>Email Address: </label>
        <input type="email" id="email" name="emailaddress" required><br>
        <label>Password: </label>
        <input type="password" id="pass" name="password" required><br>
        <label>Last Name: </label>
        <input type="text" id="lname" name="lastname" required><br>
        <label>First Name: <label>
        <input type="text" id="fname" name="firstname" required><br>
        <label>Gender: <label>
        <input type="text" id="fname" name="firstname" required><br>
        

        <label>Birthday: </label>
        <input type="date" id="dob" name="dateofbirth" required><br>
        <label>Mobile Number: </label>
        <input type="tel" id="pnumber" name="phonenumber" required><br>

         <input type="submit" id="signupsubmit"> -->
        <!-- <input type="button" id="myBtn" value="Save">
        <input type="button" id="myBtn" value="Cancel">

                     
                </div>
                  
            </div>
        </form>           -->
               
    </form>

        <script>
        // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// var btn-radio = document.getElementById("gender")
// When the user clicks the button, open the modal 
btn.onclick = function() {
//   if(document.getElementById('empnumber').value == "" || document.getElementById('email').value == "" || document.getElementById('pass').value == "" || document.getElementById('lname').value == "" || document.getElementById('fname').value == "" || document.getElementById('pnumber').value == ""|| document.getElementById('dob').value == "")
//   {
      
//       alert("Please fill-up all required field.");
//     }
//     else{
          modal.style.display = "block";
    // }
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

function myClick(){
    var checkBox = document.getElementById("myCheck")
    
        if(checkBox.checked == true)
        {
            document.getElementById("myConfirm").style.backgroundColor = "#2699FB";
            document.getElementById("myConfirm").style.color = "white";
            document.getElementById("myConfirm").style.cursor = "pointer";
            document.getElementById("myConfirm").onclick = function()
            
            {
                location.href = "location.html";
            }

        }
        else
        {
            document.getElementById("myConfirm").style.backgroundColor = "#cccccc";
            document.getElementById("myConfirm").style.color = "#666666";
        }

    
}
        
        </script>
</body>
</html>